
.RegisterContainer{
    margin-right: 50px;
    
}
.LoginContainer{
    margin-right: 1280px;
}
.ContactsContainer{
    margin-right: auto;
    margin-left: auto;
}

 .Link{
    font-family: arial;
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 4px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: Georgia, serif;
}
.ActiveLink{
    font-family: arial;
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 4px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: rgb(255, 213, 0);
    font: Georgia, serif;
}
